.main-header{
    background: url(/CWD-B8-PM/Images/Place1.jpg);
    min-height: 1000px;
    background-size: cover;
    background-position: left;
    color: #fff;
}

.main-header .showcase{
    padding-top: 100px;
}

