.main-header{
    background: url(../FINAL-WEBSITE/Final-Image/bg.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: left;
    color: #fff;
}

.main-header .showcase{
    padding-top: 100px;
}

